@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <img class="mainImage rounded shadow align-content-center" width="400" src="~/images/main_page.gif" />
</div>
